body {
    color: #434343;
}

.masthead {
  height: 100vh;
  min-height: 500px;
    max-height: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
    padding-top: 100px;
}

/* bg */

.bg-profile {
    padding-top: 48px;
	background-image: linear-gradient(to right bottom, #dcdeca, #dfd1c6, #d5c7c7, #c6c0c3, #b9b9b9);
    padding-bottom: 48px;
  }
